
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;

}

body {
    background-color: #222e49;
}

header {
    background-color: #090c14;
    height: 65px;
    padding: 4px;
}

nav {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
}

nav > a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 15px 0;
    display: inline-block;
    font-size: 22px;
    transition: all .2s ease-in-out;
}

.line {
    width: 120px;
    height: 3px;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

nav > a:nth-child(2):hover ~ .line{
   transform: translate(125px);
   transition: all .2s ease-in-out;
}
nav > a:nth-child(3):hover ~ .line{
    transform: translate(250px);
    transition: all .2s ease-in-out;
}
 nav > a:nth-child(4):hover ~ .line{
    transform: translate(375px);
    transition: all .2s ease-in-out; 
}